@import url(https://fonts.googleapis.com/css?family=Lato);
a, a > code {
  color: rgb(249, 38, 114);
  text-decoration: none;
}
body {
  font-family: 'Lato';
  font-weight: normal;
}

body h4 {
  font-family: 'Lato';
  font-weight: normal; 
  font-size: 1.6em;
  color:#f92672;
}

.footnote {
  position: absolute;
  bottom: 3em;
  padding-right: 4em;
  font-size: 90%;
}
.remark-code-line-highlighted     { background-color: #ffff88; }

.inverse {
  background-color: #272822;
  color: #d6d6d6;
  text-shadow: 0 0 20px #333;
}
.inverse h1 {
  color: #FFC0CB;
  font-family: 'Lato';
}
.inverse h2, .inverse h3 {
  color: #f3f3f3;
  font-family: 'Lato';
}
/* Two-column layout */
.left-column {
  color: #777;
  width: 20%;
  height: 92%;
  float: left;
}
.left-column h2:last-of-type, .left-column h3:last-child {
  color: #000;
}
.right-column {
  width: 75%;
  float: right;
  padding-top: 1em;
}
.pull-left {
  float: left;
  width: 47%;
}
.pull-right {
  float: right;
  width: 47%;
}
.pull-right ~ * {
  clear: both;
}
img, video, iframe {
  max-width: 100%;
}
blockquote {
  border-left: solid 5px lightgray;
  padding-left: 1em;
}
.remark-slide table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
.remark-slide table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
.remark-slide thead, .remark-slide tfoot, .remark-slide tr:nth-child(even) { background: #eee }

@page { margin: 0; }
@media print {
  .remark-slide-scaler {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important;
  }
}

.title-slide {
  background-image: url("../images/video_title.png");
  background-position: top;
  background-size: contain;
  background-color: #272822;
}


.title-slide h1 {
  font-family: 'Lato', serif;
  color: #FFC0CB;
  font-size: 3em;
  padding-top: 4em;
  line-height: 1em;
  padding-bottom: .1em;
  word-wrap: break-word;
}

.title-slide h2 {
  font-family: 'Lato', serif;
  font-weight: 500;
  font-size: 1.6em;
  color: #FFC0CB;
  text-shadow: none;
  padding-top: .1em;
  margin-top: 0px;
  margin-bottom: 50px;
}

.title-slide h3 {
  font-family: 'Lato', serif;
  font-weight: 400;
  font-size: 1.6em;
  color: #FFC0CB;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 1.6em;
}
